body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #000;
}

iframe,
.iframe-placeholder {
  pointer-events: all;
  overflow: hidden;
  box-shadow: 0 0 1rem #8f75c7;
  width: 90vw;
  max-width: 1600px;
  aspect-ratio: 16 / 9;
  min-height: 800px;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 2rem;
}

p,
a {
  font-size: clamp(32px, 6vw, 80px);
}

a {
  color: #c495ff;
  text-decoration: none;
  transition: all 0.3s ease;
  pointer-events: all;
}

a:hover {
  color: #efc3f5;
  text-shadow: 0 0 8px rgba(239, 195, 245, 0.7);
}

h1 {
  font-size: clamp(48px, 9vw, 120px);
}

h2 {
  font-size: clamp(38px, 7vw, 90px);
}

h3 {
  font-size: clamp(28px, 5vw, 70px);
}

.title {
  margin-top: 400px;
}

.centred {
  margin-left: auto;
  margin-right: auto;
}

#content-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  color: #efc3f5;
  font-family: "Russo One", serif;
  perspective: 800px;
  text-align: center;
  overflow: hidden;
}

#crawl {
  position: absolute;
  width: 100vw;
  top: 100vh;
  transform-origin: 50vw 15vh;
}

#background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("images/background.webp");
  background-size: cover;
  background-position-x: center;
  background-position-y: 0;
  pointer-events: none;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgba(0, 0, 0, 20);
  pointer-events: none;
  z-index: 0;
}

#fade {
  position: fixed;
  width: 100vw;
  height: 40vh;
  top: 0;
  right: 0;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
  pointer-events: none;
}

#scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 0;
  pointer-events: all;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#scroll-container::-webkit-scrollbar {
  display: none;
}

#star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 0;
  pointer-events: none;
}

#welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  color: #efc3f5;
  font-family: "Russo One", serif;
  font-size: 200%;
  text-align: center;
  overflow: hidden;
}
#welcome-text > * {
  margin: 10px;
  opacity: 0;
}
#welcome-text > h1 {
  font-weight: normal;
}
#welcome-text > h3 {
  font-weight: lighter;
}

#message-input {
  height: 32.3rem;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 10px 5px rgba(255, 255, 255, 0.5),
    0 0 20px 10px rgba(255, 0, 255, 0.3),
    0 0 30px 15px rgba(0, 255, 255, 0.2);
  animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.contents-button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin-top: 100px;
}

@media (max-width: 1000px) {
  .contents-button-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .contents-button-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.showcase-button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin-top: 100px;
}

@media (max-width: 1000px) {
  .showcase-button-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.space-btn {
  background-color: rgba(115, 83, 186, 0.5);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  pointer-events: all;
}

.space-btn:hover {
  background-color: #2f195f;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.space-btn img {
  width: 48px;
  height: 48px;
}

.text-btn {
  cursor: pointer;
  pointer-events: all;
  background: none;
  border: none;
  font-family: "Russo One", serif;
}

.extra-margin {
  margin-top: 40px;
}

.tech-container {
  background-color: rgba(115, 83, 186, 0.5);
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.tech-icon {
  margin: 2rem;
  width: clamp(32px, 9vw, 96px);
  height: clamp(32px, 9vw, 96px);
}

.contact-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -2rem;
}

#contact-form {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.contact-icon {
  height: clamp(32px, 8vw, 96px);
}

.form-input {
  pointer-events: all;
  font-size: clamp(26px, 5vw, 66px);
  width: min(90vw, 1600px) !important;
  box-shadow: 0 0 1rem #8f75c7;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  resize: none;
}

.iframe-container {
  position: relative;
  width: 90vw;
  max-width: 1600px;
  aspect-ratio: 16 / 9;
  min-height: 800px;
  margin: 0 auto;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  transition: opacity 750ms ease-in-out;
  z-index: 1;
}

.responsive-iframe.visible {
  opacity: 1;
}

.iframe-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.success-text {
  animation: fade-from-green 10s;
}

.error-text {
  animation: fade-from-red 10s;
}

@keyframes fade-from-green {
  0% {
    color: green;
  }
  100% {
    color: white;
  }
}

@keyframes fade-from-red {
  0% {
    color: red;
  }
  100% {
    color: white;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  overflow: visible;
  position: relative;
  animation: loading-spinner-fade-in 1.5s;
  margin-top: 15rem;
}

.loading-spinner-container {
  animation: loading-spinner-float 2s ease-in-out infinite;
  height: 100%;
  width: 100%;
}

.loading-spinner-image {
  animation: loading-spinner-drift 5s ease-in-out infinite;
  max-width: 100%;
  max-height: 100%;
}

@keyframes loading-spinner-float {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}

@keyframes loading-spinner-drift {
  0% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(3%);
  }
}

@keyframes loading-spinner-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.text-container {
  background-color: rgba(115, 83, 186, 0.5);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
  width: 100%;
  max-width: 1000px;
  height: 1.2rem;
  background: #c495ff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  pointer-events: all;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: #efc3f5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: #efc3f5;
  cursor: pointer;
}
